AZURE_AD_B2C_ISSUER_URI=https://<tenant>.b2clogin.com/<tenant>.onmicrosoft.com/<policy>/v2.0/
AZURE_AD_B2C_JWK_SET_URI=https://<tenant>.b2clogin.com/<tenant>.onmicrosoft.com/<policy>/discovery/v2.0/keys
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=<access-key>
AWS_SECRET_ACCESS_KEY=<secret-key>
AWS_SESSION_TOKEN=<session-token>
S3_BUCKET=guias-despacho
